<!DOCTYPE html>
<html>
<head>
    <title>Авторизация/Регистрация</title>
</head>
<body>
    <h1>Авторизация/Регистрация</h1>
    <p>Для авторизации или регистрации нажмите на кнопку ниже и следуйте инструкциям бота.</p>
    <!-- Изменяем метод формы на GET и указываем ссылку на страницу бота -->
    <form action="https://telegram.me/your_bot_username" method="get">
        <button type="submit" style="padding: 10px 20px; background-color: #5cb85c; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s; border-radius: 4px;">Авторизация/Регистрация</button>
    </form>
</body>
</html>
